<section class="module module-narrow module-shallow simple-input">
  <h2 class="module-heading"><i class="fa fa-comments"></i>{{ _('Notificaciones') }}</h2>
  <ul class="nav nav-simple">
    <li class="nav-item">{{ h.nav_link(_('Todas las notificaciones'), named_route='list') }}</li>
  </ul>
</section>
    <script type="text/javascript">
	$('#delModal').on('show.bs.modal', function(e) {
		//get data-id attribute of the clicked element
		var threadId = $(e.relatedTarget).data('thread-id');
		//populate the textbox
		$(e.currentTarget).find('input[name="tid"]').val(threadId);
	});

	function delNotify(){
		let threadId = $('#tid').val();
		console.log('threadId',threadId);
	}
  </script>