
{% resource 'ckanext_comment/jquery.validate.js' %}
{% resource 'ckanext_comment/ceh.js' %}
{% resource 'ckanext_comment/ceh.css' %}

{% macro comment_form(values={}, empty=False, hidden=True, prefix="", action="add") %}
    <form id="{{ prefix + values.id }}" class="form {% if hidden %}hidden{% endif %}" action="{{ pkg_id }}/comments/{% if values.id %}{{ values.id }}/{% endif %}{{ action }}" method="POST">
        <div class="{{ action }}_form_errors form-errors alert alert-error hidden">
            <div class="hidden error-comment">{{ _('Please enter a Comment.') }}</div>
        </div>
        <div class="form-controls">
            <label for="subject">{{ _('Subject') }}</label>
            <input type="text" class="form-control" name="subject" {% if not empty %}value="{{ values.subject }}" {% endif %}/>
            <label for="comment">{{ _('Comment') }}</label>
            {% set unescaped_content = values.content.split('<br/>') %}
            <textarea name="comment" class="form-control" rows="10">{% if not empty %}{% for line in unescaped_content %}{{ line | striptags }}{{'\n'}}{% endfor %}{% endif %}</textarea>
        </div>
        <div class="form-actions">
            <input type="submit" class="btn btn-primary" value="{{ _('Save') }}"/>
            <input type="reset" class="btn" value="{{ _('Clear') }}"/>
        </div>
    </form>
{% endmacro %}



{% set thread = h.get_comment_thread(pkg_name) %}

{% macro comment_thread(thread) %}

    <div class="comment-wrapper">
    {% for comment in thread.comments %}
        {# {{ comment.id }} #}
        <div class="comment">
            {% if comment.state != 'deleted' %}
                <h3>{{ comment.subject }}</h3>
                <h4>{{ comment.email }}</h4>
            {% else %}
                <h3>{{ _('This comment was deleted.') }}</h3>
            {% endif %}
            <div class="submitted">
                <span>{{ h.render_datetime(comment.creation_date, "%d.%m.%Y %H:%M") }} {{  h.linked_user(comment.user_id, 0, 10) }}</span>
                {% if comment.modified_date %}
                    <br/><span>{{ h.render_datetime(comment.modified_date, "%d.%m.%Y %H:%M") }} {{ _('Modified') }} </span>
                {% endif %}
            </div>
            <div class="content">
            {% if comment.state != 'deleted' %}
                {{ comment.content|safe }}
            {% else %}
                {{ _('This comment was deleted.') }}
            {% endif %}
            {% if comment.state == 'active' %}
            <ul class="links list-inline">
              {#  {% if h.check_access('package_update', {'id': pkg_id }) %}
                    <li><a href="/dataset/{{ pkg_id }}/comments/{{ comment.id }}/delete">{{ _('Delete') }}</a> </li>
                {% endif %}

                {% if userobj and comment.user_id == userobj.id %}
                    <li><a onclick="ShowCommentForm('edit_{{ comment.id }}')">{{ _('Edit') }}</a></li>
                    {{ comment_form(comment, prefix='edit_', action='edit') }}
                {% endif %} #}
                {# {% if userobj %} #}
                    <li><a onclick="ShowCommentForm('reply_{{ comment.id }}')">{{ _('Responder') }}</a> </li>
                    {{ comment_form(comment, empty=True, prefix='reply_', action='reply') }}
               {# {% endif %} #}

            </ul>
            {% endif %}
            </div>
        </div>
            {% if comment.comments | length != 0 %}
                {{ comment_thread(comment) }}
            {% endif %}
    {% endfor %}
    </div>

{% endmacro %}
  {% block header_account_logged %} {% if userobj %}
     {% if userobj.sysadmin %}
<section class="additional-info">
  <div id="publishComment" class="alert alert-success alert-dismissible ceh-none" role="alert">
    <strong>Muy Bien!</strong> El comentario ha sido correctamente publicado.
      <button type="button" class="close ceh-close-cmalert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <h3>{{ _('Administrar Comentarios') }}</h3>
  <table class="table table-striped-ceh table-hover-ceh table-bordered table-condensed">
    <thead>
      <tr>
        <th scope="col" class="ceh-tr-col1">{{ _('Nombre') }}</th>
        <th scope="col" class="ceh-tr-col1">{{ _('Correo') }}</th>
        <th scope="col">{{ _('Comentario') }}</th>
        <th scope="col" class="ceh-tr-col2">{{ _('Acción') }}</th>
      </tr>
    </thead>
    <tbody>
    {% for comment in thread.comments %}
          <tr>
            <td class="dataset-label">{{ comment.approved }}</td>
            <td class="dataset-details">{{ comment.email }}</td>
            <td class="dataset-details">{{ comment.content|safe }}</td>
            <td class="dataset-details">
              <button type="button" class="btn btn-primary">{{ _('Publicar') }}</button>
            </td>
          </tr>
          <!--<tr>
            <td class="dataset-label">Miguel Abanto</td>
            <td class="dataset-details">miguel@hotmail.com</td>
            <td class="dataset-details">Los valores "col" y "row" indican que la celda de encabezado provee información para el resto de las celdas en la columna o fila (respectivamente) en que está presente. Los otros dos valores tendrán sentido más adelante en este tutorial.</td>
            <td class="dataset-details">
              <button type="button" class="btn btn-secondary-ceh">Despublicar</button>
            </td>
          </tr>
          <tr>
            <td class="dataset-label">Daniel Lozano García Estrada</td>
            <td class="dataset-details">dlozano@idom.com</td>
            <td class="dataset-details">En el siguiente ejemplo, la tabla presentada anteriormente ha sido mejorada con más celdas de encabezado, con el fin de aumentar la legibilidad. Aquí, la celda en la esquina superior izquierda de la tabla, proveería información ambigua si el atributo scope no estuviera presente. En otras palabras, afectaría a las celdas en su columna, así como a las celdas en su fila. La presencia del atributo scope ha dejado en claro que las celdas afectadas por este encabezado son aquellas en la misma fila.</td>
            <td class="dataset-details">
              <button type="button" class="btn btn-primary">Publicar</button>
            </td>
          </tr>
          <tr>
            <td class="dataset-label">Eduardo Boris Canales Quiroz</td>
            <td class="dataset-details">equiroz@yahoo.es</td>
            <td class="dataset-details">El título de una tabla es otro componente que aporta a la legibilidad. Mientras que algunas tablas, debido a su estructura o simplicidad, pueden sobrevivir sin un título, otras lo necesitarán inexorablemente. En cualquier caso, el título de una tabla puede mejorar pero nunca empeorar.

La idea de un título es la de proveer una descripción concisa acerca de la información presentada en la tabla o su propósito, aportando contexto y haciéndola significativamente más fácil de comprender. En HTML, los títulos de las tablas son insertados mediante el elemento caption, justo después de la etiqueta de apertura de la misma y antes que todos los demás elementos de su estructura. En el ejemplo siguiente hay una tabla en la cual el significado de los datos sería muy difícil de descifrar sin un título apropiado.</td>
            <td class="dataset-details">
              <button type="button" class="btn btn-secondary-ceh">Despublicar</button>
            </td>
          </tr>-->
    {% endfor %}
    </tbody>
  </table>
</section>
     {% endif %}
  {% endif %} {% endblock %}
<section class="additional-info">
  <h3>{{ _('Nuevo Comentario') }}</h3> 
  <div class="module-content ceh-comments">
    <form action="{{ pkg_id }}/comments/add" method="post" class="form-horizontal" id="cehCommentForm" role="form"> 
      <div class="form-group form-group_ech">
        <label for="subject" class="col-sm-2 control-label">{{ _('Nombre') }}</label>
        <div class="col-sm-10 ech-col">
          <input type="text" class="form-control form-control_ech" name="subject" id="subject" maxlength="50" required>
        </div>
      </div>
      <div class="form-group form-group_ech">
        <label for="email" class="col-sm-2 control-label">{{ _('Correo Electronico') }}</label>
        <div class="col-sm-10 ech-col">
          <input type="text" class="form-control form-control_ech" name="email" id="email" maxlength="30" required>
        </div>
      </div>
      <div class="form-group form-group_ech">
        <label for="comment" class="col-sm-2 control-label">{{ _('Comentario') }}</label>
        <div class="col-sm-10">
          <span class="form-control_label_ech1">
            <i class="fa fa-question-circle"></i>
            <a class="ceh-tips" href="#" data-toggle="modal" data-target="#tipsModal">{{ _('formatos y textos') }}</a>
          </span>
          <textarea class="form-control form-control_label_ech1" name="comment" id="comment" rows="5" style="margin: 0px; height: 105px; width: 657px;" maxlength="500" required>
          </textarea>
          <span class="countdown"></span>
        </div>
      </div>
      <div class="form-group form-group_ech">
        <div class="col-sm-offset-2 col-sm-10 ech-col">
          <input type="checkbox" class="form-checkbox-input" name="cehpolicy" id="cehpolicy">
          <span class="form-checkbox-label form-control_label_ech1" for="cehpolicy">{{ _('He leído y acepto los') }} <a href="#" data-toggle="modal" data-target="#termsModal">{{ _('Términos y Condiciones') }}</a></span>
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <button class="btn btn-success btn-circle text-uppercase" type="submit" id="submitComment"><span class="fa fa-paper-plane"></span> {{ _('Agregar Comentario') }}"</button>
        </div>
      </div>
    </form>
  </div>
  <hr style="margin-top:20px; border: 2px solid #004BA7; background-color:#004BA7;">
<h3 id="comments">{{ _('Comentarios') }}</h3>
<div class="comment-container">
    {{ comment_thread(thread) }}
</div>

{# {% if userobj %} 

<form class="form" action="{{ pkg_id }}/comments/add" method="post">
    <div id="comment_form_errors" class="alert alert-error form-errors hidden">
        <div class="hidden error-comment">{{ _('Please enter a Comment.') }}</div>
    </div>
    <div class="form-controls">
        <label for="subject">{{ _('Subject') }}</label>
        <input type="text" class="form-control" name="subject"/>

        <label for="comment">{{ _('Comment') }}</label>
        <textarea name="comment" class="form-control" rows="10"></textarea>
    </div>
    <div class="form-actions">
        <input type="submit" class="btn btn-primary" value="{{ _('Save') }}"/>
        <input type="reset" class="btn" value="{{ _('Clear') }}"/>
    </div>
</form> #}
<!-- Modal Terms and Conditions -->
<div class="modal fade" id="termsModal" tabindex="-1" role="dialog" aria-labelledby="termsConditionLabel" aria-hidden="true" style="display: none;">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="termsConditionLabel">Términos y Condiciones</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        <h5>RESPONSABLE</h5>
          <p>Cabildo de El Hierro</p>
          <hr>
<h5>FINALIDAD PRINCIPAL</h5>
          <p>Recogida de comentarios y sugerencias de los usuarios del Portal de Datos Abiertos de cada a desarrollar mejoras del servicio y obtener una experiencia de usuario mejorada.</p>
          <hr>
<h5>LEGITIMACIÓN</h5>
          <p>Mediante consentimiento del Interesado</p>
          <hr>
<h5>DESTINATARIOS</h5>
          <p>No se cederán datos a terceros, salvo autorización expresa u obligación legal</p>
          <hr>
<h5>DERECHOS</h5>
          <p>Acceder, rectificar y suprimir los datos, portabilidad de los datos, limitación u oposición a su tratamiento, transparencia y derecho a no ser objeto de decisiones automatizadas.</p>
          <hr>
<h5>INFORMACIÓN ADICIONAL</h5>
          <p>Puede consultar la información adicional y detallada sobre nuestra Política de Privacidad.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>
<!-- Modal Tips -->
<div class="modal fade" id="tipsModal" tabindex="-1" role="dialog" aria-labelledby="tipsLabel" aria-hidden="true" style="display: none;">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="tipsLabel">Algunos consejos</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        <ul>
            <li>No se permiten etiquetas HTML.</li>
            <li>Las líneas y los párrafos se reconocen automáticamente. Las etiquetas de salto de línea &lt;br /&gt;, &lt;p&gt; párrafo y &lt;/p&gt; cerrar párrafo se insertan automáticamente. Si no se reconocen los párrafos, simplemente agregue un par de líneas en blanco.</li>
            <li>Las direcciones de las páginas web y las direcciones de correo electrónico se convierten en enlaces automáticamente.</li>
            </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>
</section>
{#
{% else %}
    {{ _('Login to comment.') }}
{% endif %}
#}