textarea[name=cehcomment] {
    resize: none;
}

.ceh-comments {
 border: 1px solid red;
}

.btn-circle {
    /*width: 30px;*/
    height: 30px;
    font-weight: bold;
    padding: 6px 15px !important;
    border-radius: 20px !important;
    text-align: center;
    font-size: 12px !important;
    line-height: 1.42857;
}