textarea[name=cehcomment] {
    resize: none;
}

.ceh-comments {
 border: 1px solid red;
}

.btn-circle {
    /*width: 30px;*/
    height: 30px;
    font-weight: bold;
    padding: 6px 15px !important;
    border-radius: 20px !important;
    text-align: center;
    font-size: 12px !important;
    line-height: 1.42857;
}

.countdown {
    font-size: 12px;
    float: right;
    margin-top: 2px;
    margin-bottom: 4px;
}

.ceh-error {
    font-size: 13px;
    color: red;
    display: block;
}

/*
Metodos extendidos
*/

.form-group_ech {
    margin-bottom: 0px;
}

.form-control_ech {
    height: 35px !important;
    font-size: 13px !important;
}

.ech-col {
    height: 40px;
}