{% extends "page.html" %}

{% block subtitle %}{{ _('Listado de Notificaciones') }}{% endblock %}


{% block breadcrumb_content %}
  <li class="active">{{ h.nav_link(_('Notificaciones de comentarios'), named_route='list') }}</li>
{% endblock %}

{% block primary_content %}
  <article class="module">
    <div class="module-content">
      <h1 class="page-heading">
        {% block page_heading %}{{ _('Notificaciones de Comentarios') }}{% endblock %}
      </h1> 
      <section class="additional-info">
<table class="table table-striped-ceh table-hover-ceh table-bordered table-condensed">
    <thead>
      <tr>
        <th scope="col" class="ceh-tr-col1">Dataset</th>
        <th scope="col" class="ceh-tr-col1">Comentarios</th>
      </tr>
    </thead>
    <tbody>
          <tr>
            <td class="dataset-details">Es fácil ver aquí cómo cada celda de encabezado en la tabla, provee información para el resto de las celdas en la columna a la que pertenece. Algunos agentes, como los navegadores de voz, hacen el mismo análisis cuando deben informar al usuario qué celda de encabezado está asociada a una celda en particular.</td>
            <td class="dataset-details">
              5
            </td>
          </tr>
          <tr>
            <td class="dataset-details">Los valores "col" y "row" indican que la celda de encabezado provee información para el resto de las celdas en la columna o fila (respectivamente) en que está presente. Los otros dos valores tendrán sentido más adelante en este tutorial.</td>
            <td class="dataset-details">
              2
            </td>
          </tr>
          <tr>
            <td class="dataset-details">En el siguiente ejemplo, la tabla presentada anteriormente ha sido mejorada con más celdas de encabezado, con el fin de aumentar la legibilidad. Aquí, la celda en la esquina superior izquierda de la tabla, proveería información ambigua si el atributo scope no estuviera presente. En otras palabras, afectaría a las celdas en su columna, así como a las celdas en su fila. La presencia del atributo scope ha dejado en claro que las celdas afectadas por este encabezado son aquellas en la misma fila.</td>
            <td class="dataset-details">
              1
            </td>
          </tr>
          <tr>
            <td class="dataset-details">El título de una tabla es otro componente que aporta a la legibilidad. Mientras que algunas tablas, debido a su estructura o simplicidad, pueden sobrevivir sin un título, otras lo necesitarán inexorablemente. En cualquier caso, el título de una tabla puede mejorar pero nunca empeorar.

La idea de un título es la de proveer una descripción concisa acerca de la información presentada en la tabla o su propósito, aportando contexto y haciéndola significativamente más fácil de comprender. En HTML, los títulos de las tablas son insertados mediante el elemento caption, justo después de la etiqueta de apertura de la misma y antes que todos los demás elementos de su estructura. En el ejemplo siguiente hay una tabla en la cual el significado de los datos sería muy difícil de descifrar sin un título apropiado.</td>
            <td class="dataset-details">
              5
            </td>
          </tr>
    </tbody>
  </table>
      </section>
    </div>
  </article>
{% endblock %}

{% block secondary_content %}
  {% snippet 'snippets/ceh_notify_main.html', q=q %}
{% endblock %}