        {% if c.userobj.sysadmin %}
        {% set new_comments = '%d' % h.new_comments() %}
        {% set notify_tooltip = ngettext('%(num)d nuevo comentario', '%(num)d nuevos comentarios', new_comments)
          %}
        <li class="notifications {% if new_comments > 0 %}notifications-important{% endif %}">
          <a href="{{ h.url_for('comments.index') }}" title="{{ notify_tooltip }}">
            <i class="fa fa-comments"></i><span class="badge">{{ new_comments }}</span></a>
        </li>
        {% endif %}